
.metadata/.plugins/org.eclipse.cdt.core/Firmware_v2.1544367176390.pdom
*.pdom
.metadata/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/version.ini
