
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/Firmware_v2.1556994346167.pdom
.metadata/.plugins/org.eclipse.core.resources/.projects/Firmware_v2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Firmware_v2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/28.snap
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/5/18/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/5/18/refactorings.index
.metadata/.plugins/org.eclipse.team.cvs.core/.running
